# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Unit test / coverage reports
.coverage
*.cover
*.py,cover

# Django stuff:
*.log
local_settings.py
 db.sqlite3

# Celery stuff:
celerybeat-schedule
*.pid

# mypy
.mypy_cache/

# Python language server
.pyre/
